{% extends "manga/layouts/app.dtl.html" %}
{% block module_content %}
                <section class="content-area" data-pgc-field="manga_chapters_overview">
                    <header>
                        <h1 id="top_header" class='d-flex p-2 m-0'>
                            <a href="/manga/manga/{{ manga.id }}">
                                <i class="fa fa-arrow-left content-top-link text-dark"></i>
                            </a>
                            <a href="/manga/manga/{{ manga.id }}" class='flex-fill text-center text-dark'>
                                <span class="d-none d-md-inline-block">{{ manga.manga_name }}</span>
                            </a>
                            <div class="p-0 my-0 mx-2 h5 d-flex justify-content-center align-items-center" id="reader_options">
                                <div class="form-group row mx-0 my-auto">
                                    <label class="label py-0 my-0"></label>
                                    <select
                                        id="select_reading_mode"
                                        data-action="select_reading_mode"
                                        data-initialization-status="{{ mode }}"
                                        class="custom-select custom-select-sm">
                                        <option value="webtoon" {% if mode == 'webtoon' %}selected="selected"{% endif %}>Webtoon</option>
                                        <option value="single_page" {% if mode == 'single_page' %}selected="selected"{% endif %}>Single Page</option>
                                    </select>
                                </div>
                            </div>
                            <div class="p-0 m-0 d-flex justify-content-center align-items-center">
                                <button
                                    type="button"
                                    tooltip="Bookmark this chapter."
                                    class="btn btn-warning"
                                    id="btn_toggle_bookmark_state"
                                    {% if user %}
                                    data-user="{{ user.id }}"
                                    {% else %}
                                    data-user="None"
                                    {% endif %}
                                    data-toggle="bookmark_state"
                                    data-manga ="{{ manga.id }}"
                                    data-chapter="{{ chapter.id }}"
                                    data-value="{{ is_manga_chapter_in_user_bookmarks }}">
                                    <i class="fas fa-bookmark"></i>
                                </button>
                            </div>
                        </h1>
                    </header>
                    <section class="position-relative">
                        {% if pages %}
                        <div class="chapter-pages-wrapper d-flex justify-content-center pt-5">                            
                            <div class="chapter-pages text-center px-0 px-md-2" id="chapter-pages">
                                {% for page in pages %}
                                <div
                                    class="chapter-page scroll {% if mode == 'single_page' %}d-none{% endif %}"
                                    id="manga_{{ manga.id }}_chapter_page_{{ page.id }}_img_stub"
                                    data-page-number="{{ page.page_number }}"
                                    data-is-active="false"
                                    data-action="view_manga_page"
                                    data-mode="webtoon"
                                    data-status="unloaded"
                                    data-src="{{ page.source_image_url }}"
                                    data-resource-class="chapter-page scroll"
                                    data-resource-alternate="page {{ page.page_number }}"
                                    data-resource-id="{{ page.id }}">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <div id="manga_{{ manga.id }}_resource_overlay" class="w-100 h-100 d-flex justify-content-center align-items-center">
                                            <i class="fa fa-spin fa-spinner"></i>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="pagination form-group my-0 {% if mode != 'single_page' %}d-none{% endif %}">
                            <div class="mx-0 d-flex justify-content-end topnav-central-column flex-fill central-nav-content align-items-center btn-dark active" data-pgc-field="page-controls-area">
                                <div class="d-flex justify-content-center px-2 flex-fill">
                                    <div class="form-group form-inline d-flex w-100 mt-3">
                                        <select
                                            id="select_page"
                                            class="custom-select flex-fill custom-select-sm" 
                                            onchange="fetch_selected_page(this)">
                                            {% for page in pages %}
                                            <option value='{{ page.page_number }}'>{{ page.page_number }}</option>
                                          {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <button type="button" class="btn btn-light mx-1 form-control-sm" onclick='fetch_previous_page()'>
                                        <i class="fas fa-angle-left"></i>
                                        <span>Previous page</span>
                                    </button>
                                    <button type="button" class="btn btn-light mx-1 form-control-sm" onclick='fetch_next_page()'>
                                        <i class="fas fa-angle-right"></i>
                                        <span>Next page</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row w-100 mx-0 py-0 my-0">
                            <div class="mx-0 d-flex justify-content-end topnav-central-column flex-fill central-nav-content align-items-center btn-dark active" data-pgc-field="page-controls-area">
                                <div class="d-flex justify-content-center px-2 flex-fill">
                                    <div class="form-group form-inline d-flex w-100 mt-3">
                                        <select
                                            id="chapter-select-bottom"
                                            class="custom-select flex-fill custom-select-sm"
                                            onchange="fetch_selected_chapter('{{ manga.id }}', this)">
                                            {% for chap in chapters %}
                                            {% if chap.chapter_number == chapter.chapter_number %}
                                            <option selected value='{{ chap.chapter_number }}'>{{ chapter.chapter_name }}</option>
                                            {% else %}
                                            <option value='{{ chap.chapter_number }}'>{{ chap.chapter_name }}</option>
                                            {% endif %}
                                          {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <button type="button" class="btn btn-light mx-1 form-control-sm" onclick='fetch_previous_chapter("{{ manga.id }}")'>
                                        <i class="fas fa-angle-left"></i>
                                        <span>Previous chapter</span>
                                    </button>
                                    <button type="button" class="btn btn-light mx-1 form-control-sm" onclick='fetch_next_chapter("{{ manga.id }}")'>
                                        <i class="fas fa-angle-right"></i>
                                        <span>Next chapter</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <header>
                            <h1 class='d-flex p-2 mb-3'>
                                <a href="/manga/manga/{{ manga.id }}">
                                    <i class="fa fa-arrow-left content-top-link text-dark"></i>
                                </a>
                                <span class='flex-fill text-center'>{{ manga.manga_name }}</span>
                            </h1>
                        </header>
                    </section>
                </section>
{% endblock %}
